@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Inter", sans-serif;
    color: white;
}

:root {
    --white: #FFFFFF;
    --primary: #E6533C;
    --secondary: #222222;
    --backten: #191919;

    /* Text */

    --textprimary: #808080;
    --textsecondary: #afafaf;

}

body {
    background-color: #000000;
}



.paddi{
    padding: 0 20px;
}

.container {
    max-width: 1060px;
    margin: 0 auto;
}



#header-section {
    background-image: linear-gradient(#000000, #3630308c, #000000);



}




/* Nav Styles */

.nav-main {
    padding-top: 50px;
}

.nav-style {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.logo {
    color: beige;
    font-size: 2.5rem;
    font-style: italic;
    color: var(--primary);
    font-weight: 900;
}



.menu-ul {
    display: flex;
    gap: 40px;


}

.menus {
    padding: 10px;
    border: 1px solid var(--backten);
    border-radius: 50px;
}

.menu-list {
    list-style: none;
    margin: 15px;

}

.menu-list a {
    background-color: transparent;
    border-radius: 50px;
    padding: 20px;
    text-decoration: none;
    font-size: 1.125rem;
    color: var(--white);
    font-weight: 600;
}

.menu-list a:hover {
    background-color: #E6533C;

}

/* Hero */

.hero-text {
    width: 50%;

}

.hero-bg {

    padding-top: 100px;
}

.hero-contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;

}



.hero-h1 {
    font-size: 4.875rem;
    font-weight: 900;
}

.hero-p {
    color: var(--textsecondary);
    padding: 20px 0;
}

.shape {
    line-height: 0%;
    font-family: "Great Vibes", cursive;
    font-size: 9rem;
    font-weight: 100;
}



.hero-btn-area {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}


.hero-btn {
    padding: 16px 40px;
    background-color: var(--primary);
    color: var(--white);
    border: 1px solid transparent;
    border-radius: 50px;
    cursor: pointer;
}

.hero-btn-second {
    padding: 16px 40px;
    background-color: transparent;
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 50px;
    cursor: pointer;
}


/*  Mini Cards */
.mini-cards {
    width: 50%;
}

/* card one */

.card-one {
    position: relative;
    display: flex;
    width: 180px;
    height: 90px;
    border-radius: 10px;
    top: 220px;
    left: 230px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
}

.card-one-text {
    margin: 0 auto;
    align-content: center;
}

.card-one-text h3 {
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--white);

}

.card-one-text p {
    font-size: 0.813rem;
    font-weight: 400;
    color: var(--textsecondary);

}

/* card two */


.card-ball {
    width: 40px;
    height: 40px;
    background-color: var(--primary);
    border-radius: 50%;
}

.card-two {
    position: relative;
    top: -170px;
    left: -70px;
    width: 180px;
    height: 90px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    align-content: center;
}

.card-two-div {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.card-two-text h3 {
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--white);
}

.card-two-text p {
    font-size: 0.813rem;
    font-weight: 400;
    color: var(--textsecondary);

}



/* Change Habit Part */

.habit-card-main {
    padding-bottom: 100px;
}

.habit-text {
    text-align: center;
    margin-bottom: 60px;
}


.habit-text h2 {
    font-size: 3rem;
    font-weight: 900;
    color: var(--white);
}

.habit-text p {
    padding: 14px 220px;
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--textsecondary);
}


/*  habit card */


.habit-card-main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}



.habit-card {
    text-align: center;
}

.habit-card img {
    width: 100%;
    border: 5px solid var(--backten);
    border-radius: 50%;
    margin-bottom: 20px;
}

.habit-card h3 {
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--white);
    padding-bottom: 10px;
}

.habit-card p {
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--textsecondary);
}


/*  Run Part */

.run-extra-div {
    background-color: var(--secondary);
    padding: 20px 40px;
    border-radius: 18px;
    margin-bottom: 100px;
}



.run-content {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
}

.run-text {
    width: 50%;
    padding-right: 90px;
}

.run-text h2 {
    font-size: 3rem;
    font-weight: 900;
    color: var(--white);
    padding-bottom: 20px;
}

.run-text p {
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--textprimary);
    padding-bottom: 20px;
}

.run-btn {
    padding: 16px 80px;
    background-color: var(--primary);
    color: var(--white);
    border: 1px solid transparent;
    border-radius: 50px;
    cursor: pointer;
}

.run-img {
    width: 50%;
    text-align: right;

}

.run-img img {
    width: 60%;

    border-radius: 18px;
}


/*  Training Section */


#Training{
    padding: 80px 0;
}


.tarining-heading {
    text-align: left;
}

.tarining-heading h2 {
    font-size: 3rem;
    font-weight: 900;
    color: var(--white);
    padding-bottom: 20px;

}

.tarining-heading p {
    font-size: 0.875rem;
    color: var(--textprimary);
    padding-bottom: 20px;
    padding-right: 200px;

}


/* training images */


.training-img-row-one {
    display: flex;
}

.training-img-row-two {
    display: flex;
}





/* back 1 */
.back-one {
    background-image: url(../images/exercise1.jpg);
    background-size: cover;
    background-position: center;
    width: 20%;
    height: 200px;
    position: relative;
    z-index: 1;
}




.overlay-one {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(6, 255, 209, 0.384);
    z-index: -1;

}

.back-one p {
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
    text-align: left;
    padding: 20px;
    font-size: 1.125rem;
}




/*  Back two */

.back-two {
    background-image: url(../images/exercise2.png);
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 200px;
    position: relative;
    z-index: 1;
}


.overlay-two {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 6, 6, 0.301);
    z-index: -1;

}

.back-two p {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: left;
    padding: 20px;
    font-size: 1.125rem;
}




/*  Back three */


.back-three {
    background-image: url(../images/exercise3.png);
    background-size: cover;
    background-position: center;
    width: 30%;
    height: 200px;
    height: 200px;
    position: relative;
    z-index: 1;
}


.overlay-three {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.301);
    z-index: -1;

}

.back-three p {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    font-size: 1.125rem;
}










/* back four */

.back-four {
    background-image: url(../images/exercise4.png);
    background-size: cover;
    background-position: center;
    width: 40%;
    height: 200px;
    position: relative;
    z-index: 1;
}




.overlay-four {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.384);
    z-index: -1;

}

.back-four p {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    text-align: end;
    padding: 20px;
    font-size: 1.125rem;
}




/*  Back five */

.back-five {
    background-image: url(../images/exercise5.jpg);
    background-size: cover;
    background-position: center;
    width: 25%;
    height: 200px;
    position: relative;
    z-index: 1;
}


.overlay-five {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(180, 255, 6, 0.301);
    z-index: -1;

}

.back-five p {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    font-size: 1.125rem;
}




/*  Back six */


.back-six {
    background-image: url(../images/exercise6.jpg);
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 200px;
    height: 200px;
    position: relative;
    z-index: 1;
}


.overlay-six {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 81, 255, 0.301);
    z-index: -1;

}

.back-six p {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    font-size: 1.125rem;
}












/* BMI Section */
#bmi {
    background-color: var(--secondary);
    padding: 50px 30px;
    margin: 30px 0;
}



.bmi-heading-main {
    text-align: left;
    padding-left: 200px;
    padding-bottom: 50px;
}

.bmi-heading-main h2 {
    font-size: 3rem;
    font-weight: 900;
    color: var(--white);
}

.bmi-heading-main p {
    font-size: 0.875rem;
    color: var(--textprimary);
    padding: 20px 0;

}

.bmi-h2 {
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--white);
    padding-bottom: 20px;
    text-align: center;
}

.bmi-main-div {
    display: flex;
    gap: 130px;
}



/* table */
.table-titel {
    font-size: 1.75rem;
    font-weight: 900;
    color: var(--white);
    padding-bottom: 40px;
}

#table-data {

    border: 1px solid var(--textsecondary);
    border-collapse: collapse;
}


td,
tr,
th {
    border: 1px solid var(--textsecondary);
    padding: 15px;

}

th {
    text-align: start;
    font-size: 1rem;
    font-weight: 500;
}

td,
tr {
    text-align: start;
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--textsecondary);
}

.bmi-table {
    width: 40%;
}


/* form */

.bmi-form-head h2 {
    font-size: 1.75rem;
    font-weight: 900;
    color: var(--white);
    padding-bottom: 10px;

}

.bmi-form-head p {
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--textprimary);
    padding-bottom: 10px;

}




.bmi-form {
    width: 60%;

}

.form-input {
    padding-top: 20px;
}



.input-one {
    background-color: #383838;
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    margin: 10px;

}

.input-width-small {
    width: 40%;
}

.input-width-big {
    width: 85%;
}


.age-text:disabled {
    color: var(--secondary);
}

















/* meet team */


.meet-team-heading {
    text-align: center;
}

.meet-team-heading h2 {
    font-size: 3rem;
    font-weight: 900;
    color: var(--white);
}

.meet-team-heading p {
    font-size: 0.875rem;
    color: var(--textprimary);
    padding: 30px 200px;

}

.meet-team-mian {
    background-color: var(--secondary);
    padding: 20px 20px;
    border-radius: 18px;
}




/* grid */

.trianer-all {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}


.trainer-img {
    position: relative;
    display: inline-block;
}

.trainer-img img {
    width: 100%;
    height: 100%;
    border-radius: 18px;
    object-fit: cover;
    display: block;
}


.trainer-text {
    position: absolute;
    bottom: 16px;
    left: 16px;
    text-align: left;
}

.trainer-text h2 {
    font-size: 1.25rem;
    color: var(--white);
    font-weight: 900;
}

.trainer-text p {
    font-size: 0.875rem;
    color: var(--textsecondary);
    font-weight: 400;
}











/* membership Section */

.membership-cards-div {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 50px 0;
    margin-top: 100px;
}





.membership {
    background-color: #303030;
    padding: 60px 20px;
    border-radius: 18px;
}

.membership h2 {
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--white);
    border-bottom: 2px solid var(--textsecondary);
    padding-bottom: 40px;
}

.membership p {
    font-size: 0.875rem;
    color: var(--textsecondary);
    font-weight: 400;
    padding: 20px 0;


}

.membership a {
    font-size: 1.25rem;
    color: var(--textsecondary);
    font-weight: 400;
    text-decoration: none;

}





/* alternative member */



.membership-second {
    background-color: var(--primary);
    padding: 70px 20px;
    border-radius: 18px;
    transform: translate(0%, -15%);

}

.membership-second h2 {
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--white);
    border-bottom: 2px solid var(--white);
    padding-bottom: 40px;
}

.membership-second p {
    font-size: 0.875rem;
    color: var(--white);
    font-weight: 400;
    padding: 20px 0;


}

.membership-second a {
    font-size: 1.25rem;
    color: var(--white);
    font-weight: 400;
    text-decoration: none;

}



/* footer part */

#footer {
    background-color: var(--secondary);
    padding: 30px 30px;
    margin-top: 100px;

}


.footer-main-div {
    display: flex;

}


.logo-footer {
    text-align: left;
    width: 50%;
}

.footer-text {
    padding-top: 20px;
    color: var(--textsecondary);
    font-size: 0.875rem;

}

.get-started-part {
    display: flex;
    width: 50%;
    gap: 50px;

}

.get-one {
    width: 50%;
}

.get-two {
    width: 50%;
}

.get-ul {

    padding-top: 20px;
}

.get-ul a {
    text-decoration: none;
    color: var(--textsecondary);

}

.get-ul li {
    list-style: none;
    padding-top: 10px;
}


/* copy */

.copy-text {
    text-align: center;
    padding-top: 20px;
    margin-top: 80px;
    border-top: 2px solid #303030;
}


.copy-p {
    color: var(--textsecondary);
    font-size: 1.25rem;
}






/*  Responsive Part */


@media screen and (max-width: 576px) {






    .responsive-padding {
        padding: 0 20px;
    }

    .nav-main {
        display: none;
    }

    /* Hero Sectiom  */

    .hero-contents {
        display: flex;
        align-items: center;
        gap: 20px;
        flex-direction: column;
    }

    .hero-text {
        padding: 0 30px;
        width: 100%;
    }


    /* Hero Text */

    .hero-h1 {
        font-size: 2.875rem;
        font-weight: 700;
    }

    .hero-p {
        color: var(--textsecondary);
        padding: 20px 0;
    }

    .shape {
        line-height: 0%;
        font-family: "Great Vibes", cursive;
        font-size: 6rem;
        font-weight: 100;
    }

    /* cards */

    .mini-cards {
        width: 100%;
        text-align: center;
    }

    .card-one {
        position: relative;
        display: flex;
        width: 180px;
        height: 90px;
        border-radius: 10px;
        top: 110px;
        left: 225px;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(9px);
        -webkit-backdrop-filter: blur(9px);
    }

    .card-two {
        position: relative;
        top: -330px;
        left: 30px;
        width: 180px;
        height: 90px;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(9px);
        -webkit-backdrop-filter: blur(9px);
        align-content: center;
    }




    /* habit part */


    /* habit text  */
    .habit-text h2 {
        font-size: 2rem;
        font-weight: 900;
        color: var(--white);
        padding: 0 20px;
    }

    .habit-text p {
        padding: 0px 20px;
        font-size: 0.875rem;
        font-weight: 400;
        color: var(--textsecondary);
    }

    /* habit card */
    .habit-card-main {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
    }




    /* Run part */

    .run-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .run-text {
        width: 100%;
        padding-right: 0px;
        text-align: center;
    }

    .run-text h2 {
        font-size: 2rem;
        font-weight: 900;
        text-align: start;
    }

    .run-text p {

        text-align: start;
    }

    .run-img {
        width: 100%;
        text-align: center;
    }

    .run-img img {
        width: 100%;
        border-radius: 18px;
    }

    .run-btn {
        width: 100%;
    }



    .run-extra-div {
        background-color: var(--secondary);
        padding: 20px 40px;
        border-radius: 18px;
        margin-bottom: 100px;
    }



    /* bmi part */

    .bmi-heading-main {

        text-align: center;
        padding: 20px;

    }

    .bmi-heading-main {
        text-align: center;
    }

    .bmi-main-div {
        display: flex;
        gap: 130px;
        flex-direction: column;
    }

    .bmi-table {
        width: 100%;
    }

    .bmi-form {
        width: 100%;
    }

    .form-input {
        padding-top: 20px;
        text-align: center;
    }



    /* trainer part */

    .trianer-all {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }


    .meet-team-heading p {
        font-size: 0.875rem;
        color: var(--textprimary);
        padding: 30px 30px;
    }


    /* Membership Part */

    .membership-cards-div {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        padding: 50px 0;
        margin-top: 100px;
        flex-direction: column;
    }



    .membership-second {
        background-color: var(--primary);
        padding: 70px 20px;
        border-radius: 18px;
        transform: translate(0%, 0%);
    }



    /* Training part */

    .hide {
        display: none;
    }

    .back-one {
        width: 40%;
    }

    .back-two {
        width: 60%;
    }

    .back-four {
        width: 100%;
    }

    .back-five {
        width: 100%;
    }





    /* footer */
    .footer-main-div {

        flex-direction: column;
    }

    .logo-footer {
        text-align: left;
        width: 100%;
        margin-bottom: 50px;
    }

    .get-started-part {

        flex-direction: column;
        width: 100%;
        gap: 30px;
    }





}









/* ------------------------------------------------------------------------------------ */







/*  For tablet */

@media screen and (max-width: 992px) and (min-width: 577px) {



    .responsive-padding {
        padding: 0 30px;
    }

    .nav-style {
        flex-direction: column;
        gap: 40px;
    }




    /* Hero Sectiom  */

    .hero-contents {
        display: flex;
        align-items: center;
        gap: 20px;
        flex-direction: column;
    }

    .hero-text {
        padding: 0 10px;
    }

    /* Hero Text */

    .hero-h1 {
        font-size: 3.8rem;
        font-weight: 700;
    }

    /* hero card */

    .hero-text {

        width: 100%;
        margin-top: 80px;
        padding: 0 60px;
    }

    .mini-cards {
        width: 100%;
        text-align: center;
    }

    .card-one {
        position: relative;
        display: flex;
        width: 180px;
        height: 90px;
        border-radius: 10px;
        top: 140px;
        left: 405px;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(9px);
        -webkit-backdrop-filter: blur(9px);
    }


    .card-two {
        position: relative;
        top: -230px;
        left: 165px;
        width: 180px;
        height: 90px;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(9px);
        -webkit-backdrop-filter: blur(9px);
        align-content: center;
    }







    /* habit part */




    /* habit text  */
    .habit-text h2 {
        font-size: 3rem;
        font-weight: 900;
        color: var(--white);
        padding: 0 20px;
    }

    .habit-text p {
        padding: 10px 150px;
        font-size: 0.875rem;
        font-weight: 400;
        color: var(--textsecondary);
    }

    /* habit card */
    .habit-card-main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }






    /* Run part */

    .run-content {
        display: flex;
        flex-direction: row;
        align-items: center;
    }


    .run-text {
        width: 100%;
        padding-right: 0px;

    }

    .run-text h2 {
        font-size: 2rem;
        font-weight: 900;
        text-align: start;
    }

    .run-text p {

        text-align: start;
    }

    .run-img {
        width: 100%;
        text-align: center;
    }

    .run-img img {
        width: 100%;
        border-radius: 18px;
    }




    .run-extra-div {
        background-color: var(--secondary);
        padding: 20px 40px;
        border-radius: 18px;
        margin-bottom: 100px;
    }





    /* bmi part */

    .bmi-heading-main {
        text-align: center;
        padding: 20px 30px;

    }

    .bmi-main-div {
        display: flex;
        gap: 130px;
        flex-direction: column;
    }

    .bmi-table {
        width: 100%;
    }

    .bmi-form {
        width: 100%;


    }

    .form-input {
        padding-top: 20px;
        text-align: center;
    }



    /* our team */

    .meet-team-heading p {
        font-size: 0.875rem;
        color: var(--textprimary);
        padding: 30px 150px;
    }


    /* footer */

    .logo-footer {
        text-align: left;
        width: 40%;
    }

    .get-started-part {
        width: 60%;
    }

}